<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>公管院</key>
	<array>
		<string>行政管理</string>
		<string>社会学</string>
	</array>
	<key>法学院</key>
	<array>
		<string>法学</string>
	</array>
	<key>文学院</key>
	<array>
		<string>汉语言文学</string>
		<string>广电新闻学</string>
		<string>数字出版</string>
	</array>
	<key>外语院</key>
	<array>
		<string>英语</string>
		<string>法语</string>
		<string>日语</string>
		<string>西班牙语</string>
	</array>
	<key>建艺院</key>
	<array>
		<string>建筑学</string>
		<string>艺术设计</string>
		<string>工业设计</string>
		<string>音乐表演</string>
		<string>城乡规划</string>
		<string>视传</string>
		<string>环境设计</string>
		<string>舞蹈表演</string>
	</array>
	<key>地信院</key>
	<array>
		<string>地质工程</string>
		<string>资源勘查工程</string>
		<string>地科</string>
		<string>生医</string>
		<string>地球物理</string>
		<string>信息工程</string>
		<string>地理信息科学</string>
		<string>遥感</string>
		<string>测绘工程</string>
	</array>
	<key>资安院</key>
	<array>
		<string>采矿工程</string>
		<string>城市地下</string>
		<string>安全工程</string>
	</array>
	<key>资生院</key>
	<array>
		<string>无机非金属材料</string>
		<string>矿物加工工程</string>
		<string>生物工程</string>
		<string>生物技术</string>
	</array>
	<key>软件学院</key>
	<array>
		<string>软件工程 </string>
	</array>
	<key>冶环学院</key>
	<array>
		<string>冶金工程</string>
		<string>环境工程</string>
		<string>新能源</string>
	</array>
	<key>粉冶院</key>
	<array>
		<string>材料化学</string>
		<string>粉体材料</string>
		<string>高分子材料</string>
	</array>
	<key>材料院</key>
	<array>
		<string>材料学</string>
		<string>材料国际</string>
	</array>
	<key>机电院</key>
	<array>
		<string>机械设计制造</string>
		<string>微电子</string>
		<string>车辆工程</string>
	</array>
	<key>航空航天院</key>
	<array>
		<string>航空航天工程</string>
		<string>探测制导</string>
	</array>
	<key>信息院</key>
	<array>
		<string>自动化</string>
		<string>计科</string>
		<string>电子信息</string>
		<string>测控</string>
		<string>通信工程</string>
		<string>信息安全</string>
		<string>电气自动化</string>
		<string>物联网</string>
		<string>智能</string>
	</array>
	<key>能源院</key>
	<array>
		<string>能动工程</string>
		<string>建环工程</string>
		<string>新能源</string>
	</array>
	<key>交通院</key>
	<array>
		<string>交通运输</string>
		<string>交通设备信息工程</string>
		<string>物流工程</string>
	</array>
	<key>土木院</key>
	<array>
		<string>土木工程</string>
		<string>工程管理</string>
		<string>工程力学</string>
		<string>消防工程</string>
		<string>铁道工程</string>
	</array>
	<key>数统院</key>
	<array>
		<string>数学与应用数学</string>
		<string>信息与计算科学</string>
		<string>统计学</string>
	</array>
	<key>物电院</key>
	<array>
		<string>应用物理学</string>
		<string>电子信息</string>
		<string>光电信息</string>
	</array>
	<key>化工院</key>
	<array>
		<string>化学工程与工艺</string>
		<string>应用化学</string>
		<string>制药工程</string>
	</array>
	<key>商学院</key>
	<array>
		<string>工商管理</string>
		<string>信息管理</string>
		<string>会计学</string>
		<string>财务管理</string>
		<string>金融学</string>
		<string>国际经贸</string>
		<string>电子商务</string>
		<string>市场营销</string>
	</array>
	<key>马克思院</key>
	<array>
		<string>思想政治教育</string>
	</array>
	<key>湘雅医学院</key>
	<array>
		<string>临床五年</string>
		<string>临床八年</string>
		<string>麻醉学</string>
		<string>精神医学</string>
		<string>生物信息学</string>
		<string>医学检验技术</string>
	</array>
	<key>基础医学院</key>
	<array>
		<string>法医学</string>
		<string>基础医学</string>
	</array>
	<key>口腔医学院</key>
	<array>
		<string>口腔医学</string>
	</array>
	<key>公共卫生学院</key>
	<array>
		<string>预防医学</string>
	</array>
	<key>生物科学院</key>
	<array>
		<string>生物科学</string>
	</array>
	<key>药学院</key>
	<array>
		<string>药学</string>
	</array>
	<key>护理学院</key>
	<array>
		<string>护理学</string>
	</array>
	<key>体育教研部</key>
	<array>
		<string>运动训练</string>
	</array>
	<key>大数据研究院</key>
	<array>
		<string>数据科学</string>
	</array>
</dict>
</plist>
